:root 
        {
          --white: #FFFFFF;
          --platinum: #E5E5E5;
          --orange-web: #FCA311;
          --oxford-blue: #14213D;
          --black: #000000;
          --text-input-field: #F7F7F7;
          --sm: 14px;
          --md: 16px;
          --lg: 18px;
        }
        body
        {
            margin: 0;
            padding: 0;
            background: var(--platinum);
            font-family:'Ubuntu', sans-serif;            
        }
        .divClass
        {
            height: 140px;         
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .divClass1
        {
            height: 350px;
            margin-top: 50px;
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 50px;
            display: grid;
            grid-template-columns: repeat(2, 420px);
            text-align: justify;
            justify-content: center;
            font-size: var(--md)
        }
        .restorant-card
        {
            width: 240px;
            margin-left: 70px;
        }
        .restorant-card img
        {
            width: 240px;
            height: 240px;
            border-radius: 20px;
            object-fit: cover;
        }
        .restorant-info 
        {
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-top: 7px;
            font-size: var(--sm);
        }
        .food-container
        {
            margin: 0px;
            padding: 50px;
            height: 280px;
            background: var(--oxford-blue);            
        }
        .cards-container
        {
            display: grid;
            grid-template-columns: repeat(auto-fill, 240px);
            gap: 35px;
            place-content: center;
            align-items: center;
        }
        .food-card 
        {
            width: 240px;
        }
        .food-card img 
        {
            width: 240px;
            height: 240px;
            border-radius: 20px;            
            object-fit: cover;
        }
        .food-info 
        {
            text-align: center;
            font-size: var(--lg);
            color: var(--white);
        }        